#landing-page{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}
#landing-page>img{
  margin-top: 15%;
}
.mouse_click img{
  box-shadow: 0 0 10px black;
}
#about{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
#about>h2{
  text-transform: uppercase;
}
#services{
  width: 100%;
  text-align: center;
  background-image: url(../images/backgrounds/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}
#services h2{
  text-transform: uppercase;
  padding-top: 5%;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.7);
}
#what-we-do{
  height: 250px;
}
#what-we-do>h2{
  text-transform: uppercase;
  margin-top: 2%;
}
#contacts{
  background-image: url(../images/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  padding: 20px;
  width: 100%;
}
#contacts h2{
  margin: 30px auto;
}
.forms{
  width:60%;
  margin: auto;
  margin-bottom: 100px;
}
.bgTransparent{
  background-color: transparent;
  background:transparent;
  outline: none;
  background-color: transparent;
  color: white !important;
  font-weight: 500;
}
input::placeholder, textarea::placeholder{
  color: white;
}
.col{
  margin:0 5px 20px 5px;
  border-radius: 5px;
}
textarea{
  width: 100%;
}
.social-icons{
  padding: 0 5px 0 5px;
}
span{
  font-size: 15px;
}
#design-hide, #dev-hide, #prod-hide{
  text-align: center;
  display: none;
}
/* portfolio */
.image-frame {
  position: relative;
}
.image-caption {
  display: none;
  position: absolute;
  bottom: 0px;
  background:black;
  opacity: 0.4;
  width: 90%;
  height: 100%;
}
.image-caption p{
  font-weight: bolder;
  padding-top: 40%;
  font-size: 35px;
  color: white;
}
