#landing-page{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}
#landing-page img{
  margin-top: 15%;
}
#about{
  text-align: center;
}
#about>h2{
  text-transform: uppercase;
}
#services{
  text-align: center;
}